h1{
    color:red;
    text-align:center;
    margin-top:12px;
  }
  p{

  }
  .Kermitismad.jpg{
      width: 100px;
      height: 100px;
  }
  .Maddesertfrog.jpg{
    width: 100px;
    height: 100px;
}